* {
	margin: 0;
	padding: 0;
}

.main-menu {
	width: 1280px;
	background-color: #ffffff;

	margin-left: auto;
	margin-right: auto;

	height: 81px;
	line-height: 81px;
	white-space: nowrap;

}

.main-menu ul {
	list-style: none;
	text-align: center;
}

.main-menu li {

	display: inline;

}

.main-menu a {
	display: inline-block;

	margin-top: 0px;
	margin-left: 71px;

	text-decoration: none;
	font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
	font-size: 18pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #16a085;
}

.img-box {
	width: 1280px;
	height: 790px;

	background-image: url(../img/simple-photo-bg.png);
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
}

.text-box {
	width: 1280px;

	margin-left: auto;
	margin-right: auto;

	background-color: #f5f6f7;
}
.text-box h3 {
	width: 681px;

	font-family: AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
	font-size: 20pt;
	color: rgba(55, 55, 55, 255);
	text-align: left;
	text-transform: uppercase;

	margin-left: 342px;
	margin-right: 317px;

	margin-top: 0px;
	padding-top: 59px;

}

.text-content {
	width: 1059px;

	font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
	font-size: 16pt;
	color: rgba(55, 55, 55, 255);
	text-align: center;

	margin-left: 113px;
	margin-top: 34px;

}

.text-box a {
	display: inline-block;
	background-color: #16a085;

	margin-left: 527px;
	margin-top: 41px;
	margin-bottom: 94px;

	text-decoration: none;
	font-family: GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 255);

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 43px;
	padding-right: 45px;
	text-align: center;

}

.page-footer {
	width: 1280px;

	background-color: #ffffff;

	margin-left: auto;
	margin-right: auto;

	vertical-align: middle;

}
.page-footer p {

	font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
	font-size: 16pt;
	color: rgba(55, 55, 55, 255);
	text-align: left;
	font-weight: bold;

	margin-top: 47px;
	margin-bottom: 45px;
	padding-left: 768px;
	padding-right: 104px;

}
